/server/tubing/src/main/resources/client_secret_windy.json
.idea
/server/tubing/target/classes/client_secret_windy.json
target
/client/android/android.iml
/client/android/share/share.iml
/server/tubing/.mvn/wrapper/maven-wrapper.jar
/server/tubing/.mvn/wrapper/maven-wrapper.properties
/server/tubing/mvnw
/server/tubing/mvnw.cmd
/server/tubing/tubing.iml
